<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <nav>
    <a class="btn btn-primary btn" routerLink="/home">Home</a>
    <a class="btn btn-primary btn" style="margin-left:10px" routerLink="/dashboard">Dashboard</a>
    <a class="btn btn-primary btn" style="margin-left:10px" routerLink="/teams">Teams</a>
    <a class="btn btn-primary btn" style="margin-left:10px" routerLink="/competitions">Competitions</a>
  </nav>
  <br/>
  <!--<app-team></app-team>-->
  <router-outlet></router-outlet>
