<h2>Standings</h2>
<!-- [class.selected]="comp === selectedCompetition" (click)="onSelect(comp)" -->
<div *ngIf="selectedCompetition">
    <select class="custom-select" [(ngModel)]="selectedCompetition" (change)="onSelect($event.target.value)"> 
        <option *ngFor="let comp of competitions" [value]="comp" [selected]="comp.id == selectedCompetition.id">{{comp.name}}</option> 
      </select>
</div>
<div>
    <table>
        <tr>
            <th colspan="10">Ladder</th>
        </tr>
        <tr>
            <th>#</th>
            <th>team</th>
            <th>P</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
        <tr *ngFor="let row of standings">
            <td>{{ $index + 1 }}</td>
            <td>{{ row.team.name }}</td>
            <td>{{ row.matches }}</td>
            <td>{{ row.wins }}</td>
            <td>{{ row.draws }}</td>
            <td>{{ row.loses }}</td>
            <td>{{ row.goalsFor }}</td>
            <td>{{ row.goalsAgainst }}</td>
            <td>{{ row.goalDifference }}</td>
            <td>{{ row.points }}</td>
        </tr>
    </table>
</div>