<div *ngIf="selectedCompetition">
  <select class="custom-select">
    <!-- [(ngModel)]="currentCompetition" (change)="onSelect(currentCompetition.id)"-->
    <option *ngFor="let comp of competitions" [ngValue]="comp" [selected]="comp.id == selectedCompetition.id">{{comp.name}}</option>
  </select>
</div>
<div style="width: 100%; margin-top: 30px">
  <div style="float:left; width: 70%;" >
    <h2>Standings</h2>
    <table class="table" style="width: 600px;" border="1">
      <tr>
        <th width="20px">#</th>
        <th width="*">Teams</th>
        <th width="35px">P</th>
        <th width="35px">W</th>
        <th width="35px">L</th>
        <th width="35px">D</th>
        <th width="35px">GF</th>
        <th width="35px">GA</th>
        <th width="35px">GD</th>
        <th width="35px">Pts</th>
      </tr>
      <tr *ngFor="let row of standings; let i = index;">
        <td>{{ i + 1 }}</td>
        <td>{{ row.team.name }}</td>
        <td>{{ row.matches }}</td>
        <td>{{ row.wins }}</td>
        <td>{{ row.draws }}</td>
        <td>{{ row.loses }}</td>
        <td>{{ row.goalsFor }}</td>
        <td>{{ row.goalsAgainst }}</td>
        <td>{{ row.goalDifference }}</td>
        <td>{{ row.points }}</td>
      </tr>
    </table>
    <div *ngIf="selectedCompetition">
      <br />
      <b>Points System</b><br />

      <b>Win:</b> {{selectedCompetition.pointsWhenWin}}pts
      <b>Loss:</b> {{selectedCompetition.pointsWhenLoss}}pts
      <b>Draw:</b> {{selectedCompetition.pointsWhenDraw}}pts
      <b>Bye:</b> {{selectedCompetition.pointsWhenBye}}pts
      <b>Forfeit:</b> {{selectedCompetition.pointsWhenForfeit}}pts
    </div>
  </div>
  <div style="float:right; width: 30%;">
    <h2 style="text-align:center">Matches</h2>
    <div style="text-align:center">
      <button (click)="subIndex()"> < </button>
      Match 1
      <button (click)="addIndex()"> > </button>
    </div>
    {{ groupFixtures[index][0].element.dateUtc }} / Round {{index}}
    <table class="table">
      <tr *ngFor="let fixture of groupFixtures[index];">      
        <td style="text-align:right;">{{ fixture.element.teamHome.name }}</td>
        <td style="text-align:center;width:20px">{{ fixture.element.teamHomeScore }}</td>
        <td style="text-align:center;width:5px">x</td>
        <td style="text-align:center;width:20px">{{ fixture.element.teamVisitorScore }}</td>
        <td style="text-align:left;">{{ fixture.element.teamVisitor.name }}</td>
      </tr>
    </table>
  </div>
</div>
